.buttons-div .btnprinc{
  background-color: rgb(80,80,80);
  border-radius: 15px;
  height: 50px;
  width: 100px;
}

.inverted{
  filter: invert(100);
}

.btn2{
  background-color: rgb(80,80,80);
  border-radius: 15px;
  height: 50px;
  width: 60px;
}

.container-inputs{
  height: 80%;
}

.container-inputs textarea{
  height: 40rem;
  outline: none;
  resize: none;
}

.container-inputs input{
  outline: none;
}

.buttons-div .btn1{
  font-family: arial;
  width: 60px;
}

.orangees{
  background-color: rgb(255,207,70);
  border-radius: 15px;
  height: 30px;
  width: 30px;
}

.redes{
  background-color: rgb(255,70,70);
  border-radius: 15px;
  height: 30px;
  width: 30px;
}

.bluees{
  background-color: rgb(70,118,255);
  border-radius: 15px;
  height: 30px;
  width: 30px;
}

.greenes{
  background-color: rgb(129,255,70);
  border-radius: 15px;
  height: 30px;
  width: 30px;
}

.pinkes{
  background-color: rgb(255,70,153);
  border-radius: 15px;
  height: 30px;
  width: 30px;
}

.purplees{
  background-color: rgb(188,70,255);
  border-radius: 15px;
  height: 30px;
  width: 30px;
}
