.buttons-div .btnprinc{
  border-radius: 15px;
  height: 50px;
}

.btnprinc{
  width: 100px;
}

.btn2{
  width: 60px;
}

.container-inputs{
  height: 80%;
}

.container-inputs textarea{
  height: 48rem;
  outline: none;
  resize: none;
}

.container-inputs input{
  outline: none;
}

.buttons-div .btn1{
  font-family: arial;
  width: 60px;
}

.circle-color{
  border-radius: 15px;
  height: 30px;
  width: 30px;
}

.orangees{
  background-color: rgb(255,207,70);
}

.redes{
  background-color: rgb(255,70,70);
}

.bluees{
  background-color: rgb(70,118,255);
}

.greenes{
  background-color: rgb(129,255,70);
}

.pinkes{
  background-color: rgb(255,70,153);
}

.purplees{
  background-color: rgb(188,70,255);
}
