.orange{
  background-color: rgb(255,237,100);
}

.red{
  background-color: rgb(255,70,70);
}

.blue{
  background-color: rgb(130,178,255);
}

.green{
  background-color: rgb(159,255,100);
}

.pink{
  background-color: rgb(255,100,183);
}

.purple{
  background-color: rgb(218,100,255);
}
