.btnopennote{
  background-color: rgb(80,80,80);
  border-radius: 15px;
  height: 50px;
  width: 60px;
}

.imgopen img{
  filter: invert(100);
}

.btnopennoteerase{
  border-radius: 15px;
  height: 50px;
  width: 60px;
}

.opennoteedit textarea{
  width: 100%;
  height: 40rem;
  outline: none;
  resize: none;
}
