.app{
  /*background-image: url("./resourses/images/notes.jpg");
  background-position: center;
  background-size: cover;*/
  min-height:100vh;
  animation: show 1s;
  padding: 0px;
  overflow: hidden;
}

.padding-main{
  padding-bottom: 100px;
}

.hrapp{
  color:rgba(0,0,0,.0);
  margin-top: 50px;
}

@keyframes show {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}
